<h2>$dir.canonicalName</h2>

<ul>
    #if ($dir.parent)
    <li><a href="javascript:goto('$escape.javascript($dir.parent)')">..</a></li>
    #end
    #foreach($subdir in $dir.subdirs)
    <li><a href="javascript:goto('$escape.javascript($subdir.canonicalName)')">$subdir.name</a></li>
    #end
</ul>

<input type="button" value="OK" onclick="selectDir('$escape.javascript($dir.canonicalName)');"/> <br />
#if (!$dir.ready)
    Warning: directory not ready (WEB-INF/scenery.xml not found)
#end
