#macro( inline $color $somelist )
#foreach( $something in $somelist )
<tr>
    <td bgcolor="$color">$something</td>
</tr>
#end
#end

<table>
    #inline($adv.color $adv.list)
    #macrolib($adv.color)
</table>