<html>
<head>
    <title>Scenery data file or template error</title>
<body>
<h2>Scenery data file or template error</h2>
<pre>$message</pre>
<hr>
#set($count = 1)

<table border="0">
    #foreach($line in $lines)
    <tr>
        <td>
            <span style="color: gray; font-size: smaller; ">$count</span>
        </td>
        <td>
            <pre>$line</pre>
        </td>
    </tr>
    #set($count = $count + 1)
    #end
</table>

</body>
</html>
